{% extends "base.html" %}
{% load humanize %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th space="col">#</th>
                    <th space="col">상품명</th>
                    <th space="col">수량</th>
                    <th space="col">주문날짜</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for order in order_list %}
                <tr>
                    <th space="row">{{ order.id }}</th>
                    <th>{{ order.product }}</th>
                    <th>{{ order.quantity|intcomma }} 개</th>
                    <th>{{ order.register_date|date:'Y-m-d H:i' }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% for order in order_list %}
{% endfor %}
{% endblock %}